<ion-header>
  <ion-toolbar>
    <ion-title>Album</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header>
    <h1>Concerts</h1>
  </header>
  <main>
    <div class="photo">
      <img src="https://i.ytimg.com/vi/ifOIDvwdwiE/maxresdefault.jpg" alt="Motorhead">
      <p>Motrohead, France, 2015</p>
    </div>
    <div class="photo">
      <img
        src="https://media.stubhubstatic.com/stubhub-catalog/d_defaultLogo.jpg/t_f-fs-0fv,q_auto:low,f_auto,c_fill,dpr_2.0,$w_750,$h_416/performer/7830/4b97fc6421e478cc01e8e0356f2aae2b"
        alt="Disturbed">
      <p>Distrubed, Toronto, 2019</p>
    </div>
    <div class="photo">
      <img src="https://i.ytimg.com/vi/rnXUaUNX-Bo/maxresdefault.jpg" alt="Rammstein">
      <p>Rammstein, Hannover, 2012</p>
    </div>
  </main>
</ion-content>
