<div class="body">
    <h2>Comments:</h2>
    
    <div id="commentContainer">
        <div class="comment" *ngFor="let comment of m_comments">
            <div>
                <p id="name">{{comment.name}}</p><p id="date">{{comment.date}}</p>
            </div>
            <p id="text">{{comment.text}}</p>
        </div>
    </div>
    
    <div class="form">
        <h2>Add your comment</h2>
        <label for="name">Name:</label>
        <input type="text" id="formName" name="name" value="Anónimo" [(ngModel)]="m_lastUsername">
        <label for="text">Description:</label>
        <textarea [(ngModel)]="m_lastDescription" name="text" id="formText" cols="30" rows="10" ></textarea>
        <button (click)="onFormSubmit()">Submit</button>
    </div>
</div>